:root {
  --clr-bg: #fafafa;
}

.about-us {
  display: flex;
  background-color: var(#fafafa);
  flex-direction: row;
  align-items: center;
  padding: 5% 10%;
  margin-block-start: 5vh;
}

.about-us-text {
  font-size: small;
}

.about-us-text h2 {
  margin-bottom: 10px;
}

.about-us-image img {
  height: 300px;
  object-fit: contain;
}