.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 15%;
  margin-block-start: 5vh;
}

.about-us-text {
  font-size: small;
}

.about-us-text h2 {
  margin-bottom: 10px;
}

.about-us-image img {
  height: 300px;
  object-fit: contain;
}