:root {
  --clr-bg: #fafafa;
}

.about-us {
  display: flex;
  background-color: var(#fafafa);
  flex-direction: row;
  align-items: center;
  padding: 40px 20px;
  /* margin-top: 30px; */
}

.about-us .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us-text {
  font-size: small;
  width: 40%;
}

.about-us-text h2 {
  margin-bottom: 10px;
}

.about-us-image img {
  height: 400px;
  object-fit: contain;
}