:root{
  --clr-bg1: #fafafa;
}

.stats {
  padding: 40px 70px;
  text-align: center;
  background-color: #fafafa;
}

.stats .container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2fr;
  column-gap: 20%;
  overflow: hidden;
}

.stats .container .start-stat{
}