* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-theme-primary: linear-gradient(to right, #31d167, #2cbac8);
}

main {
  animation: slidein 0.75s;
  transition-timing-function: ease-in;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}