* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-theme-primary: linear-gradient(to right, #31d167, #2cbac8);
}

.container{
  /* background-color: aqua; */
}

.add-text-color {
  background-image: var(--clr-theme-primary);
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}