:root {
  --clr-theme-primary: linear-gradient(to right, #31d167, #2cbac8);
  --clr-bg1: #f4f5f7;
}

.who-we-are {
  padding: 40px 50px;
  background-color: #f4f5f7;

  display: flex;
  flex-direction: column;
}

.who-we-are-heading {
  width: 100%;
  margin-bottom: 20px;
}

.who-we-are-list {
  /* background-color: red; */
  display: flex;
  flex-direction: row;

  display: grid;
  grid-auto-flow: column;

}

.who-we-are-list-item {
  /* background-color: orange; */
  margin-top: 20px;
  margin-right: 15px;
  font-size: small;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  text-align: left;
}

.who-we-are-list-item span img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1421px) {
  .who-we-are .container{
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }

  .who-we-are-heading {
    width: 100%;
  }

  .who-we-are-list {
    /* flex-direction: column; */
    display: grid;
    grid-auto-flow: row;
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .who-we-are .container{
    display: grid;
    width : 100% ;
    background-color: var(#fafafa);
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
  }

    .who-we-are-heading {
    width: 100%;
  }
  .who-we-are-list {
    flex-direction: row; 
    grid-auto-flow: row;
    width: 100%;
  }
}